footer {
    margin-top: 32px;
}

.footer-wrapper-info {
    border-top: 3px solid #D4D4D4;
    background: #EEF2F3;
    border-bottom: 0.5px solid #EEF2F3;
    align-items: center;
    display: flex;
    flex-direction: column;
}

.search-input {
    display: flex;
    width: 306px;
    height: 36px;
    background: #DCE4E7;
    color: #919191;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: 110%;
    padding-left: 10px;
    border: none;
    color: #000;
}


.search-input:focus {
    outline: none;
    border: 1.5px solid #2080F6;
    box-shadow: 0px 0px 0px 3px rgba(36, 100, 241, 0.15);
    color: #000;
}


.search-btn {
    background: #006CE5;
    border: none;
    padding: 10px;
    width: 36px;
    height: 36px;
}


.form {
    display: flex;
    justify-content: center;
    margin-top: 44px;
}




.tag-name {
    display: flex;
    gap: 16px;
    justify-content: center;
    align-items: center;
    margin-top: 32px;
}

.tag-name-text {
    font-size: 18px;
    font-weight: 500;
    line-height: 110%;
}


.tags {
    margin-top: 18px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    gap: 8px;
    margin-bottom: 44px;
    max-width: 526px;
}

.tag {
    display: flex;
    padding: 8px 16px;
    border-radius: 800px;
    background: #FFF;
    text-decoration: none;
    color: #1A1B1B;
}





.footer-wrapper-end {
    margin-top: 32px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}



.copyright {
    margin-top: 16px;
    margin-bottom: 24px;
    font-size: 16px;
    font-weight: 400;
    line-height: 120%;
}





@media (min-width: 768px) {


    .copyright {
        margin-top: 24px;
        margin-bottom: 48px;
    }


    .footer-wrapper-end {
        margin-top: 48px;
    }


}





@media (min-width: 1368px) {
    .form {
        margin-top: 48px;
    }

    .tags {
        margin-bottom: 40px;
    }

    .footer-wrapper-end {
        margin-top: 40px;
    }



}