header {
    width: 100%;
    height: 47px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    box-shadow: 0px 0px 4px 0px rgba(0, 0, 0, 0.25);
    position: fixed;
    background: #FFF;
    z-index: 100;
}


.nav-and-logo {
    display: flex;
    align-items: center;
    gap: 24px;
}


.burger-menu {
    border: none;
    background: none;
    padding: 0;
}


.wrapper-live-link {
    display: flex;
    align-items: center;
    padding-left: 8px;
    padding-right: 8px;
    gap: 8px;
    border-left: 1px solid #D4D4D4;
    text-decoration: none;
    color: #ED0E05;
    font-size: 16px;
    font-weight: 600;

}


.nav-menu-list {
    display: none;
}

.nav-menu-link {
    text-decoration: none;
    color: #1A1B1B;
    font-size: 16px;
    font-weight: 600;
}




@media (min-width: 1368px) {
    .nav-menu-list {
        display: flex;
        gap: 40px;
    }

   
}