* {
    box-sizing: border-box;
}

body {
    font-family: 'Urbanist', sans-serif;

}

main {
    margin-left: 8px;
    margin-right: 8px;

}




.more-about {
    font-size: 22px;
    font-weight: 400;
    line-height: 125%;
    padding-top: 91px;
}

.header-topic {
    font-size: 62px;
    font-weight: 600;
    line-height: 110%;
    padding-top: 4px;
    border-bottom: 1px solid #D4D4D4;
    padding-bottom: 8px;

}


.picture-main {
    height: 416px;
    background: url(../img/picture-main.png) no-repeat center center;
    background-size: cover;
    margin-top: 32px;
    padding: 8px;
    position: relative;

}





.category-top {
    position: absolute;
    bottom: 0;
    left: 0;
    display: flex;
    z-index: 10;
    background: #FFF;
    padding: 10px 20px 10px 0;
    color: #0B3462;
    font-size: 16px;
    font-weight: 400;
    line-height: 110%;
    text-transform: uppercase;

}

.top-news-name {
    font-size: 24px;
    font-weight: 800;
    line-height: 110%;
    margin-top: 16px;
}






.three-main-news {
    margin-top: 32px;
}

.second-main-news {
    margin-top: 24px;
    border-bottom: 1px solid #D4D4D4;
}

/* .main-play-label,
.play-label {
    position: absolute;
    z-index: 15;
} */




.main-play-label::before,
.play-label::before {
    content: "";
    display: block;
    position: absolute;
    width: 32px;
    height: 32px;
    background: url(../img/play.png);
    z-index: 5;
    bottom: 10px;
    left: 255px;
}



.for-play-label {
    position: relative;
}






.category-main {
    display: flex;
    padding: 10px 20px 10px 0;
    color: #0B3462;
    font-size: 16px;
    font-weight: 400;
    line-height: 110%;
    text-transform: uppercase;

}



.second-main-news-name {
    font-size: 18px;
    font-weight: 700;
    line-height: 120%;
    padding-bottom: 24px;

}

.name-more-about-topic {
    font-size: 34px;
    font-weight: 800;
    line-height: 110%;
    margin-top: 32px;
}






.other-news {
    margin-top: 32px;
    gap: 40px;
    display: flex;
    flex-direction: column;

}


.category {
    display: flex;
    padding-top: 10px;
    color: #0B3462;
    font-size: 16px;
    font-weight: 400;
    line-height: 110%;
    text-transform: uppercase;

}


.news-name {
    font-size: 18px;
    font-weight: 700;
    line-height: 120%;
    margin-top: 6px;


}

.description {
    font-size: 16px;
    font-weight: 400;
    line-height: 120%;
    margin-top: 10px;
}

.date {
    font-size: 14px;
    font-weight: 200;
    line-height: 120%;
    margin-top: 10px;
}









.pages-wrapper {
    margin-top: 32px;
    padding: 10px;
    gap: 16px;
    display: flex;
    align-items: center;
    justify-content: center;
}


.on-it-page {
    padding: 10px;
    border-radius: 50%;
    font-size: 14px;
    font-weight: 800;
    line-height: 120%;
    border: 1px solid #D4D4D4;
    width: 37px;
    height: 37px;
    justify-content: center;
    display: flex;
    text-decoration: none;
}


.page {
    padding: 10px;
    border-radius: 50%;
    font-size: 14px;
    font-weight: 800;
    line-height: 120%;
    border: 1px solid #D4D4D4;
    width: 37px;
    height: 37px;
    justify-content: center;
    display: flex;
    color: #006CE5;
    text-decoration: none;

}


.page-next {
    display: none;
}












@media (min-width: 768px) {

    main {
        margin-left: 12px;
        margin-right: 12px;

    }

    .second-main-news,
    .news {
        display: flex;
        gap: 24px;
        margin-top: 16px;
    }

    .second-main-news-img {
        max-width: 296px;
        margin-bottom: 26px;

    }

    .main-play-label::before {
        bottom: 36px;
        right: 10px;
    }

    .second-main-news:last-of-type {
        padding-bottom: 56px;
    }

    .news-img {
        max-width: 296px;
        min-width: 296px;
    }

    .news {
        align-items: center;
    }

    .page-next {
        display: flex;
        color: #006CE5;
        font-size: 14px;
        font-weight: 800;
        line-height: 120%;
        text-transform: uppercase;
        text-decoration: none;
    }

}










@media (min-width: 1368px) {


    main {
        margin: auto;
        width: 1368px;

    }


    .topic {
        display: flex;
        gap: 24px;
        align-items: center;
        align-items: flex-start;

    }

    .hot-new {
        display: flex;
        flex-direction: column;
        flex-basis: 70%;
        align-items: flex-start;
        margin-top: 32px;

    }

    .picture-main {
        margin-top: 0;
        height: 418px;
        width: 746px;
    }

    .three-main-news {
        display: flex;
        flex-direction: column;
        margin-top: 0;


    }

    .second-main-news-img {
        width: 196px;
        height: 110px;
        margin-bottom: 0;

    }

    .second-main-news {
        padding: 32px 0;
        margin-top: 0;
    }

    .second-main-news-name {
        padding: 0;

    }


    .second-main-news:last-of-type {
        border-bottom: none;
    }

    .main-play-label::before {
        bottom: 10px;
        left: 155px;
    }

    .topic {
        border-bottom: 1px solid #D4D4D4;
    }

    .more-about-topic {
        display: flex;
        gap: 24px;
        align-items: center;
        align-items: flex-start;
    }

    .name-more-about-topic {
        flex-basis: 55%;
        margin-top: 56px;
    }

    .other-news {
        margin-top: 40px;
    }




}



